.header {
    display: flex;
    justify-content: space-between;
}

.header > img {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #ffffff;
}

.header-menu > li {
    cursor: pointer;
    transition: var(--transition);
}

.header-menu > li:hover {
    color: var(--orange);
}